@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;1,300&family=Stick+No+Bills&display=swap');

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Stick No Bills', sans-serif;
}

:root {
    --level-one: translateZ(3rem);
    --level-two: translateZ(6rem);
    --level-three: translateZ(9rem);

    --fw-normal: 400;
    --fw-bold: 700;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}


.card {
    width: 400px;
}

.card:hover .card-content {
    /*//Half a turn*/
    transform: rotateY(.5turn);
}

.card-content {
    text-align: center;
    position: relative;
    padding: 5em;
    transition: transform 3s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;


}

.card-title {
    font-size: 3.5rem;
    transform: var(--level-three);
    text-transform: uppercase;

}

.card-body {
    transform: var(--level-two);
}

.card-sub {
    transform: var(--level-two);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .75rem;
    font-weight: var(--fw-bold);
    opacity: .7;
}

.card-front {
    background-image: url("./tech.jpg");
    background-size: cover;
    background-color: #98aae3;
    background-blend-mode: overlay;
    color: white;
}

.card-front::before, .card-back::before {
    content: '';
    position: absolute;
    --spacer: 1.2em;
    top: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    bottom: var(--spacer);
    transform: var(--level-one);
}

.card-back::before{
    border: 3px solid white;
}

.card-front::before{
    border: 3px solid black;
}


.card-back {
    transform: rotateY(.5turn);
    background: #7c8294;
    cursor: pointer;
}
